node_modules/
.env
dist/
build/
.cache/
*.log
.DS_Store
.claude/*
!.claude/skills/
NOTES.md
.bashrc.user
.plugins
exp

# We keep the repos folder and its README.md file, but we
# ignore everything else inside of it (e.g., nested repos)
/repos/*
!/repos/README.md

# Other things that only I care about
.bashrc.canvas
